.excalidraw {
  --color-primary: #0f1e94 !important;
  --color-primary-darker: #0f1964 !important;
  --color-primary-darkest: #0c165e !important;
}

.excalidraw .FixedSideContainer_side_top {
  right: 15.75rem !important;
}

.slide__wrapper_container {
  background-color: #fff;
  padding: 24px 6rem 15px 6rem;
}

button .CollabButton {
  display: none !important;
}
.excalidraw .help-icon {
  display: none !important;
}
