.assignment_wrapper__actions {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.25rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  column-gap: 15px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.assignment_wrapper__btngroup {
  align-items: center;
}

.assignment_wrapper__table {
  margin-top: 16px;
}
.assigment_wrapper__grid {
  margin-top: 16px;
  padding: 25px 16px;
  background-color: var(--white);
  overflow-y: auto;
  height: calc(100vh - 214px - 1rem);
  border-radius: 4px;
}

.menu-item-action {
  display: flex;
  color: var(--secondary);
  height: 100%;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;
}

.menu-item-action__icon {
  line-height: 100%;
  align-items: center;
  align-content: center;
  max-width: 100%;
  display: flex;
}

.menu-item-action > i {
  margin-right: 12px;
  text-align: center;
  width: 24px;
}

.menu-item-action > span {
  margin: 10px 0;
}

.assigment_wrapper__grid > .flex {
  padding: 0 0.5rem;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.flex > .flex-item {
  text-align: center;
  cursor: pointer;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.title-grid {
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 576px) {
  .flex > .flex-item {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media only screen and (min-width: 992px) {
  .flex > .flex-item {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

@media only screen and (min-width: 768px) {
  .flex > .flex-item {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media only screen and (min-width: 1200px) {
  .flex > .flex-item {
    flex: 0 0 9.333333%;
    max-width: 9.333333%;
  }
}
