.assignment_wrapper__actions {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.25rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  column-gap: 15px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.assignment_wrapper__btngroup {
  align-items: center;
}

.assignment_wrapper__table {
  margin-top: 16px;
}
