.class-detail_wrapper {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.google-meet {
  height: 17px;
  width: 17px;
  margin-right: 10px;
}

.hoverable:hover {
  background-color: rgba(22, 24, 35, 0.05);
}
