@media not all and (max-width: 80.875em) {
  .site-layout-content {
    margin: 0.1rem auto;
    width: calc(100% - 2 * 1.5rem);
    max-width: 60.5rem;
    position: relative;
  }
}

.classroom-layout {
  margin-top: 1.6rem;
}

.classroom-layout-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.assign-slide__wrapper__actions {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.25rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  column-gap: 15px;
  row-gap: 10px;
  flex-wrap: wrap;
}
